.actionButton {
    margin: 10px;
    font-size: 20px;

    border: 2px solid violet;
    border-radius: 8px;
    
    cursor: pointer;
}

.container {
  height: 300px;
  width: 300px;

  margin: 10px;
  border: 2px solid violet;
  color: violet;
}

button:hover {
    border: 0px;
}


.green {
    display: flex;
    flex-direction: column;
    justify-self: end;

    height: 350px;
    width: 300px;
    margin: 10px;

    border: 2px solid green;
    color: violet;
}

.red {
    display: flex;
    flex-direction: column;
    justify-self: end;

    height: 350px;
    width: 300px;
    margin: 10px;
    
    border: 2px solid red;
    color: violet;
}

.countView {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 250px;
    font-size: 24px;

    border: 2px solid violet;
    border-radius: 8px;
    color: violet;
}