.actionButton {
    margin: 10px;
    font-size: 20px;

    border: 2px solid violet;
    border-radius: 8px;
    
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;    
   
    gap: 16px;
    padding: 10px;
    margin: 10px auto; 
    height: 610px;
    width: 240px;   

    border: 2px solid violet;
    border-radius: 8px;
}

.likeDislike {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.green {
    margin: 10px;
    border: 2px solid green;
}

.red {
    margin: 10px;
    justify-self: end;
    border: 2px solid red;
}

.countView {
    display: flex;
    flex-direction: row;
    justify-self: end;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 250px;
    font-size: 24px;

    border: 2px solid violet;
    border-radius: 8px;
    color: violet;
}

.poster {
    height: 280px;
    width: 240px;
}

.light {
    background-color: rgba(255, 255, 255, 0.623);
}

.dark {
    background-color: rgba(0, 0, 0, 0.082);
}